<header class="header">
  <div class="header__content">
    <div class="header__logo"></div>
    <div class="header__nav">
      <div class="header__nav-item"></div>
      <div class="header__nav-item">Contact</div>
      <div class="header__nav-item">About</div>
      <div class="header__nav-item header__nav-signup">
        <div>Sign Up</div>
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/c006d2708f7fe6ae5660a026f4fbbcdd214c9c43?placeholderIfAbsent=true&apiKey=c920ee099cd94450ad47ca730611f9cd" alt="Sign up indicator" />
      </div>
    </div>
  </div>
  <div class="search">
    <div class="search__container">
      <div class="search__input">What are you looking for?</div>
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/dced85d64ac4fa12ce99d1ed0ca371cdcdacf3e0?placeholderIfAbsent=true&apiKey=c920ee099cd94450ad47ca730611f9cd" alt="Search" class="search__icon" />
    </div>
  </div>
</header> 